*{
    box-sizing: border-box;
    touch-action: none;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    overflow: hidden;
    /* display: grid; */
    /* height: 100vh; */
    /* grid-template-columns: 100vw;
    grid-template-rows: 70vh 30vh; */
    /* gap: 0.75em; */
    /* justify-content: center; */
}





.splashScreen,.splashScreenSmall{
    position: absolute;
    display: inline-block;
    text-align: left;
    left: 16px;
    top: 32px;
    font-size: 72px;
    line-height: 58px;
    letter-spacing: -0.1em;
    opacity: 1;
}
.splashScreenSmall{
    left: 32px;
    top:72px;
    font-size: 8px;
}




@media only screen and (min-width: 320px){
  .splashScreen{

    font-size: 144px;
    line-height: 110px;
  } 
  .splashScreenSmall{
      font-size: 16px;
      letter-spacing: -0.05em;
      top:122px;
  }
}